### Docs ###
build/
cache/

### PHP Storm###
.idea/


### PHP ###

/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db

/conf
.idea
/.settings
.env.*.php
.env.php
.phpunit.result.cache

# sublime phpintel plugin
/.phpintel
